#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 40%;
    left: 47%;
    z-index: 100;
}

.add-icon {
    margin-left: .2em;
}

.toasts-top-right {
    z-index: 999999;
}
textarea {
    resize: none;
}