
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<form class="login100-form validate-form" action="/tai-khoan/ChangePassword" method="post">
    <span class="login100-form-title p-b-33">
        Đổi mật khẩu
    </span>
    <div class="alert alert-warning error-info" role="alert" style="display:none;">
    </div>
    <div class="wrap-input100 validate-input" data-validate="Nhập mật khẩu mới">
        <input class="input100" type="password" name="passwordNew" placeholder="Mật khẩu mới">
        <span class="focus-input100-1"></span>
        <span class="focus-input100-2"></span>
    </div>

    <div class="wrap-input100 rs1 validate-input" data-validate="Nhập lại mật khẩu mới">
        <input class="input100" type="password" name="passwordNewRetype" id="confirm-password" placeholder="Nhập lại mật khẩu mới">
        <span class="focus-input100-1"></span>
        <span class="focus-input100-2"></span>
    </div>
    <div class="container-login100-form-btn m-t-20">
        <button class="login100-form-btn">
            Submit
        </button>
    </div>
</form>

